################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/out/**/*
/.vs/**/*
/cmake-build-debug/
/.idea
